@font-face{
  font-family: CODE_light;
  src: url(fonts/CODE\ Light.otf);
}

body{ 
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;  

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 0.1fr 1fr 0.15fr;  
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  background: rgb(232, 228, 214);
  align-items: first baseline;
  justify-content: center; 
  overflow: hidden;   
}

#navbar{  
  width: 100%;
  height: 100%;
  grid-area: 2 / 1;

  display: flex;
  align-items: center;
  justify-content: center;
   
  gap: 20px;
}

.menuBtns{
  height: fit-content;
  width: fit-content;
  border: 0;  
  color: rgb(154, 154, 154);
  background: none;
  font-size:400%;
  font-family: CODE_light;  
  
  transition-duration: 200ms;
}
.menuBtns:hover{
  color: rgb(0, 0, 0);  
}
.menuBtns:hover + *{
  color:rgb(125, 125, 125);
}
.menuBtns:has(+ *:hover){
  color:rgb(125, 125, 125);
}

#content{
  width: 100%;
  height: 100%;
  grid-area: 3 / 1;  
  
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr;  
  grid-column-gap: 0px;
  grid-row-gap: 0px;      
}

#imageContainer{    
  width: 100%;
  height: 100em;
  grid-area: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;     
  overflow:scroll;  
  
  gap: 30px;  
  border: dotted red 2px;
}
.row{
  display: flex;
  gap: 30px;
}
.images:not(.images:hover){
  opacity: 5%;
}
.row:not(.row:hover) .images{
  opacity: 100% !important;
}
.images{
  width: 400px;
  height: 400px;
  object-fit: cover;  
  transition-duration: 200ms;
}
.images:hover{
  width: 500px;  
  opacity: 100% !important;  
}
.images:hover + *{
  width: 350px;
  opacity: 50% !important;
}
.images:has(+ *:hover){
  width:350px;
  opacity: 50% !important;
}
.images:hover + * + *{  
  opacity: 25% !important;
}
.images:has(+ * + *:hover){  
  opacity: 25% !important;
}